POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=leavemanagement
POSTGRES_PORT=5435
DB_CONNECTION_STRING=Host=localhost;Port=5435;Database=leavemanagement;Username=postgres;Password=postgres
LINK_TO_FRONTEND=http://localhost:3000
