<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[LeaveManagement.Infrastructure]LeaveManagement.Infrastructure.Migrations.*,[LeaveManagement.Infrastructure]LeaveManagement.Infrastructure.Data.Migrations.*,[LeaveManagement.Infrastructure]LeaveManagement.Infrastructure.Data.Configurations.*</Exclude>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
